@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');

.translate {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 40px;
  font-weight: 100;
}

.roboto {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.bg-color {
  background-color: rgb(51, 52, 51);
}

.nav-height {
  padding: 8px;
}

.nav-toggle-margin {
  margin: 10px;
}

.nav-item-custom {
  margin-left: 26px;
  font-size: large;
}

.form-styles {
  width: 80%;
  margin: auto;
  padding: 12px;
}

.center-page {
  width: 80%;
  margin: auto;
  padding: 12px;
}

.space-between {
  margin: 15px;
}

.space-above-below {
  margin: 15px 0px;
}

.icon-size {
  font-size: 40px;
}